/********** Reset CSS **********/

html,
body,
div,
span,
applet,
object,
iframe,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

body,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/********** End CSS Reset **********/

body, ul, li, p {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    line-height: 1.2em;
}

p {
    margin-bottom: 1em;
}

h1 {
    font-size: 1.5em;
}

.small {
    font-size: 12px;
}

.large {
    font-size: 1.7em;
}

.big {
    font-size: 40px;
    text-align: center;
    line-height: 1em;
    margin: 0px;
}

.massive {
  font-size: 60px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.50);
  position: relative;
  top: 82%;
  padding: 1% 5%;
  line-height:60px;
}

.italic {
    font-style: italic;
}

.display-mobile {
    display: none;
}

.icons {
    max-width:220px;
}

/*** Font Colour ***/

.color-1 {
    color: #fff;
}

.color-2 {
    color: #6C7A89;
}

.color-3 {
    color: #3f4a96;
}

.color-4 {
    color: #b8101a;
}

/*** Background Colour ***/

.bg-color-1 {
    background-color: #fff;
}
.bg-color-2 {
    background-color: #6c7a89;
}
.bg-color-3 {
    background-color: #011a5c;
}

.bgimg-leather {
    background-image: url("images/raindrops.jpg");
    background-size: cover;
    background-position: center;
}

/*** Flex Box ***/

.flex {
    display: flex;
}

.box {
    flex: 1;
    margin-right: 20px;
}

.middle {
    align-items: center;
}

.rounded {
    border-radius: 40px 5px;
}

.home-tripple {
    padding: 30px;
}

/********** Align **********/

.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.top {
    top: 0;
}

.inline-block {
    display: inline-block;
}

.margin-none {
    margin: 0px;
}

/*** Nav ***/

.nav {
    top:0;
    position: fixed;
    background-color: #fff;
    height: 80px;
    width: 100%;
    text-align: right;
    transition:0.5s;
    z-index: 1;
}

.nav a {
    text-decoration: none;
    padding:5px 5px 4px 5px;
    border: 1px solid transparent;
    font-size: 1.2em;
}

.nav li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 28px;
}

.nav a:hover {
    color: #f00;
    transition: 0.5s;
    border-bottom: #f00 2px solid;
}

.logo-link {
    font-size: 1.5em;
}

/*** Side Nav For Mobile ***/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #011a5c;
    overflow-x: hidden;
    /*padding-top: 60px;*/
    transition: 0.5s;
    z-index: 2;
}

.sidenav a {
    padding: 20px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.5em;
    color: #999;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 1.1em;}
}


/*** End Nav ***/

.header {
    background-image: url("images/car.jpg");
    height:100vh;
    background-size: cover;
    background-position: center center;
    text-align: center;
}

.scroll-down {
    position:relative;
    width:100px;
    top:-150px;
}

.container {
    width: 100%;
}

.content {
    max-width: 1200px;
    padding: 5%;
    margin:0 auto;
}

.content-nav-only {
    max-width: 1200px;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0 auto;
}

.logo {
  text-align: left;
}

.logo img {
    width:200px;
    position: absolute;
    top: 8px;
}

.footer {
    display: block;
    width: 100%;
    padding-top:10px;
    padding-bottom: 10px;
    background-color: #011a5c;
}

.footer .content {
    padding-left: 5%;
    padding-right: 5%;
}

.footer a, .footer a:hover {
    text-decoration: none;
}

.footer a:hover {
    color: #ECECEC;
}

.fade-in-1s {
    animation: opac 0.5s;
}

.fade-in-2s {
    animation: opac 2s
}

.fade-in-3s {
    animation: opac 3s
}

.fade-in-4s {
    animation: opac 4s
}

.fade-in-5s {
    animation: opac 5s
}

.fade-in-6s {
    animation: opac 6s
}

@keyframes opac {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@media (max-width: 860px) {
    .flex {
        display: block;
    }
    .display-mobile {
        display: block;
        font-size: 30px;
        margin-top: 28px;
    }
    .mobile-none {
        display: none;
    }
    .home-tripple{
        margin: 20px 0px;
    }
    .large {
        font-size: 1.2em;
    }
}
